<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.excerpt | default: site.description }}">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="/assets/output.css">
    <title>{{ page.title }}</title>
    {% if site.fathom_code %}
    <script src="https://cdn.usefathom.com/script.js" data-site="{{ site.fathom_code }}" defer></script>
    {% endif %}
  </head>
  <body class="container mx-auto max-w-2xl mt-24 mb-4 sm:px-4">
    <div class="prose prose-stone">
      {{ content }}
    </div>
  </body>
</html>
